language: java
sudo: true

jdk:
  - openjdk8
  - openjdk12

install:
  - mvn test-compile -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - mvn test jacoco:report

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - mvn coveralls:report

notifications:
  email: false
